/.idea/

android_apps/app1_for_NF_Group_Left_Side/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/build.gradle
android_apps/app1_for_NF_Group_Left_Side/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/ExBrainSdkAndroidLibrary_1.1.8.aar
android_apps/app1_for_NF_Group_Left_Side/NeurofeedbackApp1/app/release

android_apps/app2_for_NF_Group_Right_Side/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/build.gradle
android_apps/app2_for_NF_Group_Right_Side/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/ExBrainSdkAndroidLibrary_1.1.8.aar
android_apps/app2_for_NF_Group_Right_Side/NeurofeedbackApp1/app/release

android_apps/app3_for_Placebo_Group/ShamfeedbackApp1/ExBrainSdkAndroidLibrary/build.gradle
android_apps/app3_for_Placebo_Group/ShamfeedbackApp1/ExBrainSdkAndroidLibrary/ExBrainSdkAndroidLibrary_1.1.8.aar
android_apps/app3_for_Placebo_Group/ShamfeedbackApp1/app/release
