android_apps/app1_for_NF_Group/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/build.gradle
android_apps/app1_for_NF_Group/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/ExBrainSdkAndroidLibrary_1.1.8.aar

android_apps/app2_for_Placebo_Group/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/build.gradle
android_apps/app2_for_Placebo_Group/NeurofeedbackApp1/ExBrainSdkAndroidLibrary/ExBrainSdkAndroidLibrary_1.1.8.aar
